ffmpeg_to_composite
autom4te.cache
aclocal.m4
.deps
.deps/*
*~
*.o
*.a
*.la
compile
config.h
config.h.in
config.log
config.status
configure
configure.in
Makefile
Makefile.in
install-sh
stamp-h1
depcomp
INSTALL
missing
COPYING

